
.card-container {
    width: 100vw;
    height: 50vh;
    margin-left: 5%;
    margin-right: 5%;
    display: grid;
    grid-template-columns: repeat(2, .5fr);
    gap: 0px; 
    
}

.responsive-folder {
    width: 80%;
    height: 50%;
    gap: 0px;
}